<section class="section" style="overflow: hidden;">
    <div class="container">
        <div class="article-left">
    <% page.posts.each(function(post){ %>
        <%- partial('common/article-index', { post, index: true }) %>
    <% }); %>
    <% if (page.total > 1) { %>
        <%- partial('common/paginator') %>
    <% } %>
    </div>
    <div class="author-right">
        <!-- <section style="padding: 0 18px;margin-left: 10%;">
            <div class="short-about">
                <img src="//oco8bvfr8.qnssl.com/new_aman.jpg?imageView2/2/w/300/h/300/interlace/1/q/90">
                <h5>
                    <a href="/about/">flyhero</a>
                </h5>
                <p>求知若饥 虚心若愚</p>
                <ul class="list-inline">
        
                    <li>
                        <a target="_blank" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x fa-inverse">简</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/flyhero">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section> -->

<section style="padding: 0 18px;margin-left: 10%;">
<fieldset style=" border: 1px solid rgb(255, 153, 0); text-align: center; border-radius: 8px; font-size: 1.5em;">
    <section style="width: 5em; height: 5em; margin-top: 0.5em; margin-right: auto; margin-left: auto; border:3px solid rgb(255,153,0); border-radius:50%">
        <img src="http://ww2.sinaimg.cn/large/7de0c4f0jw1f7wldvvdkyj2040040weh.jpg" style="border-radius: 50%; box-sizing: border-box; width: 114px; height: 114px;">
    </section>
    <div class="ImbWord" style="margin: 8px 8px 3px; line-height: 1.4; font-family: inherit;">
            <span>flyhero</span>
    </div>
    <div class="ImbWord" style="line-height: 1.4; font-size: 0.7em;">
            <span>前路慢慢，稳打稳扎</span>
    </div>
    <hr style="margin: 16px; border-top-width: 1px; border-top-style: solid; border-color: rgb(255,153,0);"></hr>
    <section class="ImbWord" style="line-height: 1.4; font-size: 0.7em;">
            <span>微信号：xwintop</span>
    </section>
    <img style="border: 3px solid rgb(255, 153, 0); border-radius: 10px; width: 144px; height: 144px;"
        class="ImbBrushImg" src="http://ww4.sinaimg.cn/large/7de0c4f0jw1famvrtjmwuj209k09kdfs.jpg">
</fieldset>
</section>

<section style="padding: 0 18px;margin-left: 10%;">
    <fieldset style=" border: 1px solid rgb(255, 153, 0); text-align: center; border-radius: 8px; font-size: 1.5em;">
        <section style="width: 5em; height: 5em; margin-top: 0.5em; margin-right: auto; margin-left: auto; border:3px solid rgb(255,153,0); border-radius:50%">
            <img src="http://ww2.sinaimg.cn/large/7de0c4f0jw1f7wldvvdkyj2040040weh.jpg" style="border-radius: 50%; box-sizing: border-box; width: 114px; height: 114px;">
        </section>
        <div class="ImbWord" style="margin: 8px 8px 3px; line-height: 1.4; font-family: inherit;">
            <span>flyhero</span>
        </div>
        <div class="ImbWord" style="line-height: 1.4; font-size: 0.7em;">
            <span>前路慢慢，稳打稳扎</span>
        </div>
        <hr style="margin: 16px; border-top-width: 1px; border-top-style: solid; border-color: rgb(255,153,0);"></hr>

        <ul class="list-inline">
        
            <li>
                <a target="_blank" href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x fa-inverse">知</i>
                    </span>
                </a>
            </li>
            <li>
                <a target="_blank" href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x fa-inverse">简</i>
                    </span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/flyhero">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
        
       </fieldset>
</section>

    </div>
    </div>
</section>