<section class="section" style="overflow: hidden;">
    <div class="container">
        <div class="article-left">
    <% page.posts.each(function(post){ %>
        <%- partial('common/article-index', { post, index: true }) %>
    <% }); %>
    <% if (page.total > 1) { %>
        <%- partial('common/paginator') %>
    <% } %>
    </div>
    <div class="author-right">
        wang
    </div>
    </div>
</section>