<section class="section" style="overflow: hidden;">
    <div class="container" style="overflow: hidden;">
        <div style="overflow: hidden;">

            <%- partial('pages/other', { post: page, index: false }) %>

        </div>

        <% if (has_config('share.type')) { %>
            <div class="sharebox">
                <%- partial('share/' + get_config('share.type')) %>
            </div>
            <% } %>

                <% if (has_config('comment.type')) { %>
                    <div class="comments">
                        <h3 class="title is-4">
                            <%= __('article.comments') %>
                        </h3>
                        <%- partial('comment/' + get_config('comment.type')) %>
                    </div>
                    <% } %>
    </div>
</section>